.header {
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: 1158px) {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo {
  @include font(18px, 21px);
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  .web_color {
    color: #4d5ae5;
  }
  .studio_color {
    color: #2e2f42;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.menu__list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.menu__link {
  @include font(36px, 40px);
  color: #2e2f42;

  font-weight: 700;
  letter-spacing: 0.32px;

  @media screen and (min-width: 768px) {
    @include font(16px, 24px);
    font-weight: 500;
  }

  &:hover,
  &:focus {
    color: #404bbf;
  }
  transition: color linear 200ms;
}

.header__contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }
}

.header__contacts__link {
  @include font(16px, 24px);
  color: #434455;

  font-family: Roboto;
  letter-spacing: 0.32px;

  &:hover,
  &:focus {
    color: #404bbf;
  }
  transition: color linear 200ms;
}
